/* You can add global styles to this file, and also import other style files */

/*Pashchuk Ilya
Top Rated
Expert Web Developer

site: justtwic.art
mail: illyadeveloper@gmail.com
tel: +38(093) 385 06 75
tm: @justtwic*/

/* ------------------------------------------- core */
@import 'styles/functions';
@import 'styles/mixins';
@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/root';
@import 'styles/base';

//@import 'styles/components/';
//@import 'styles/components/';
